body,
html {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  /* overflow-x: hidden; */
  text-align: center;
  font-family: "Quicksand", sans-serif;
  align-content: center;
}
.App {
  font-family: "Quicksand", sans-serif;
  text-align: center;
}

/*-----------------Heading Style---------------------*/
h1 {
  font-family: "sacramento", cursive;
}
h2 {
  font-size: 1.5em;
  font-weight: 400;
}
hr {
  border: 1px solid rgb(196, 194, 194);
  width: 40vh;
  margin-top: 10px;
}
.home__components {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

/*------------Landing Page Style------------------*/
.navbar {
  align-items: center;
  background-color: rgb(177, 225, 240);
  text-align: center;
  transition: background-color 0.5s ease-out;
}
.navbar.active {
  align-items: center;
  background-color: rgb(250, 248, 248);
  text-align: center;
}
.nav-link,
.pointer {
  cursor: pointer;
}
.landing-container {
  /* background-image: url("https://images.unsplash.com/photo-1600304594824-fcc43b7ceed7?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80") ; */
  background-image: url("https://images.unsplash.com/photo-1592467896946-992336f11f36?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80");
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  margin: 0px;
  padding-top: 10%;
  min-height: 100vh;
  align-items: center;
  text-align: center;
}
.landing-container > h1 {
  margin: 0 7%;
  font-size: 4rem;
  padding: 10% 10% 0;
}
.landing-container > Button {
  /* margin: 3% 1% 5%; */
  margin-right:2rem;
}

/*------------About Page Style------------------*/
.about {
  text-align: center;
  padding: 5% 20% 2%;
  line-height: 2;
  background-color: rgb(250, 248, 248);
}
.profile-img {
  margin: 5% auto;
  max-width: 30vh;
}
/*------------Work Part 1 Style------------------*/
#mySkills {
  background-color: rgb(250, 248, 248);
}
.skills__container {
  padding-top: 3%;
  width: 100%;
  box-shadow: 0 0 5px #ddd;
  background-color: rgb(216, 215, 215);
}
.p-4:hover {
  color: #b10541;
  transform: scale(1.2);
}
/*------------Work Part 2 Style------------------*/
#works {
  width: 100%;
  padding: 10%;
  text-align: center;
}
/*------------Footer Style------------------*/
#contact {
  padding-top: 3%;
  width: 100%;
  text-align: center;
  background-color: rgb(77, 79, 82);
  color: white;
}
.contact-me {
  line-height: 2;
  margin-top: 2%;
}
/* .footer-link {
  color: #fff;
  margin: 50px 30px;
  text-decoration: none;
  font-weight: bold;
}
.footer-link:hover {
  color: white;
} */
a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}
a.social.hover {
  transform: translateY(-2px);
}
a.linkedin {
  color: #d1d9eb;
}
a.twitter {
  color: #d1d9eb;
}
a.github {
  color: #d1d9eb;
}
/*------------Map Style------------------*/
/* .map{
  height: 8px;
  width:8px;
  display: block;
  border-radius:4px;
}
.google-map{
  height: 100%;
  width:100%
}
.map-h2{
  text-transform: uppercase;
  font-size:1rem;
  padding:20px;
  padding-left:10px;
  text-align:center;
}
.pin{
  display:flex;
  align-items:center;
  width:180px;
  color:blue;
}
.pin-icon{
  font-size:4rem;
}
@media screen and(min-width:799px){
  .google-map{
    height:80vh;
  }
  .map-h2{
    font-size:1.3rem;
    font-weight:400;
  }
  .pin{
    width:15vw;
  }
  .pin-icon{
    font-size:10vw;
  }
} */

/*------------Dark Functionality-----------------*/

